* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#nav {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
}

.container {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
}
img {
    width: 100%;
    object-fit: cover;
}

.intro {
    display: flex;
    align-items: center;
    gap: 48px;
}
.image-container,
.content {
    flex: 1;
}
.image-container img {
    height: 100%;
    border-radius: 24px;
}
.image-container {
    height: 400px;
}
.content h1 {
    color: #ffb700;
    font-size: 48px;
}

#featured {
    background-color: #222;
    padding: 24px 0px;
    color: white;
}
#featured h2 {
    text-align: center;
    font-size: 36px;
}

.grid img {
    height: 300px;
    border-radius: 24px;
}
.grid p {
    border: solid #ffb700 2px;
    border-radius: 24px;
    margin: 0px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    grid-template-areas: 
        "p1 img1 img2 img2"
        "img3 img3 img4 p2"
    ;
}
#p1 {
    grid-area: p1;
}
#p2 {
    grid-area: p2;
}
#img1 {
    grid-area: img1;
}
#img2 {
    grid-area: img2;
}
#img3 {
    grid-area: img3;
}
#img4 {
    grid-area: img4;
}

@media screen and (max-width:480px) {
    #nav {
        flex-direction: column;
    }
    .intro {
        flex-direction: column;
        gap: 25px;
    }
    .content h1 {
        margin: 0px;
        font-size: 24px;
    }
    .content {
        text-align: center;
    }
    .image-container {
        flex: 200px;
        width: 100%;
    }
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "p1"
            "img1"
            "img2"
            "p2"
            "img3"
            "img4"
        ;
    }
}

@media screen and (max-width: 740px) and (min-width: 481px) {
    .intro {
        gap: 24px;
    }
    .image-container {
        height: 300px;
    }
    .content h1 {
        font-size: 28px;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "p1 img1"
            "img2 img2"
            "img3 img3"
            "img4 p2"
        ;
    }
}