#img-1, #img-2, #img-3 {
    width: 350px;
    padding: 50px 0px 0px 0px;
}
.column-1 {
    width: 90%;
    max-width: 1440px;
    margin: 0px auto;
    text-align: center;
}
.background {
    background-color: rgb(255, 235, 239);
    padding: 100px;
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(250, 88, 115);
}
h1 {
    color: rgb(250, 88, 115);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 0px 40px;
}
.section-1, .section-3 {
    margin-bottom: 80px;
    background-color: rgb(255, 246, 247);
}
.section-2 {
    border-top: solid 4px white;
    border-bottom: solid 4px white;
    margin-bottom: 80px;
}
a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    display: inline-block;
    padding: 20px 0px 40px;
}
