#img-1, #img-2, #img-3 {
    width: 350px;
    padding: 50px 0px 0px 0px;
}
.column-1 {
    width: 90%;
    max-width: 1440px;
    margin: 0px auto;
    text-align: center;
}
.background {
    background-color: rgb(255, 235, 239);
    padding: 100px;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(250, 88, 115);
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 0px 40px;
}
.section-1, .section-2, .section-3 {
    margin-bottom: 80px;
    background-color: white;
}
