@import url("https://use.typekit.net/mai1atc.css");

* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    background-color: #93C83E;
}

.column {
    width: 90%;
    max-width: 1440px;
    margin: 24px auto;
    background-color: white;
}
.navbar img {
    width: 100px;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px;
}
.navbar a {
    font-family: "baloo-bhai-2", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    color: #6C8194;
}
#hero {
    background-image: url(../images/giraffe.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
}
