@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    background-color: rgb(0, 19, 24);
}

#single-column {
    width: 90%;
    max-width: 1440px;
    margin: 0px auto;
}
#hero h1 {
    font-family: "Knewave", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: rgb(255, 255, 255);
    margin-bottom: 150px;
    margin-top: 450px;
}
#hero a {
    color: white;
    font-weight: bold;
    background-color: rgba(0, 19, 24, 0.555);
    border: solid 2px rgb(255, 255, 255);
    padding: 16px;
    text-decoration: none;
    font-size: 24px;
    transition: 0.4s;
}
#hero a:hover {
    border: solid 2px white;
    background-color: white;
    color: rgb(0, 19, 24);
    font-weight: bold;
}
#hero {
    background-image: url(../images/urban-hi-res-1ui7.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 100px;
}
#hero-content {
    text-align: center;
}
#gallery-title {
    color: rgb(0, 19, 24);
    text-align: center;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.39);
    padding: 20px;
}
#photo-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 24px 0px;
    align-items: center;
}
#photo-gallery img {
    width: 100%;
    border: solid rgba(255, 255, 255, 0.39);
}
.cards {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 50px;
}
.card-content {
    border: solid rgba(255, 255, 255, 0.39);
    padding: 0px 0px 10px;
    text-align: center;
    flex: 1;
}
.card-content a {
    color: white;
    font-weight: bold;
    background-color: rgba(0, 19, 24, 0.555);
    border: solid 2px rgb(255, 255, 255);
    padding: 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition: 0.4s;
}
.card-content a:hover {
    border: solid 2px white;
    background-color: white;
    color: rgb(0, 19, 24);
    font-weight: bold;
}
.card-content h2 {
    color: rgb(0, 19, 24);
    margin-bottom: 60px;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0.39);
    padding: 10px;
    font-size: 32px;
}
#card-1 {
    background:
        linear-gradient(
            45deg, rgba(0, 19, 24, 0.753), rgba(0, 19, 24, 0.753)
        ),
        url("../images/card-1.jpg");
    background-size: cover;
}
#card-2 {
    background:
        linear-gradient(
            45deg, rgba(0, 19, 24, 0.753), rgba(0, 19, 24, 0.753)
        ),
        url("../images/card-2.jpg");
    background-size: cover;
}
#card-3 {
    background:
        linear-gradient(
            45deg, rgba(0, 19, 24, 0.753), rgba(0, 19, 24, 0.753)
        ),
        url("../images/card-3.jpg");
    background-size: cover;
}
#back-to-top {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    transition: 0.4s;
    border: solid 1px rgb(0, 19, 24);
}
#back-to-top:hover {
    border: solid 1px white;
}
