* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#header {
    background-color: rgb(0, 162, 255);
}
#nav {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}