* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgba(0, 162, 255, 0.5);
}
#header {
    background-color: rgb(33, 174, 255);
}
#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
    font-weight: bold;
}
#nav #logo {
    font-size: 32px;
    font-weight: bold;
    padding-top: 13px; 
    padding-bottom: 12px; 
}

#hero {
    background-image: url(../images/hero-1.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 100px;
}
.hero-content {
    position: absolute;
    margin-right: 100px;
    margin-top: 50px;
}
.hero-content h4 {
    font-size: 24px;
    color: black;
}
.hero-content a {
    text-decoration: none;
    display: inline-block;
    padding: 16px;
    margin: 24px;
    border-radius: 24px;
    background-color: rgb(33, 174, 255);
    color: white;
    font-weight: bold;
}
.hero-content a:hover {
    background-color: rgba(0, 162, 255, 0.5);
    color: black;
}
.dropdown {
    position: relative;
    
}
.dropdown-menu {
    position: absolute;
    background-color: white;
    z-index: 1;
    width: 100%;
    min-width: 150px;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
#nav .dropdown-menu a {
    color: black;
}
#nav .dropdown-menu a:hover {
    background-color: rgba(0, 162, 255, 0.5);
    width: 100%;
}
.single-column {
    width: 50%;
    min-width: 500px;
    margin: 10px auto;
    padding: 2px 24px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.single-column #penny img {
    width: 400px;
    margin: -140px 0px 0px 0px;
    align-items: center;
}
.single-column #sam img {
    width: 400px;
    margin: -140px 0px 0px 0px;
    align-items: center;
}
.single-column #jack img {
    width: 400px;
    align-items: center;
}
.wrap-image {
    width: 400px;
    overflow: hidden;
    border-radius: 20px;
}
.description ul li {
    list-style-type: none;
    padding-top: 10px;
}
.single-column p {
    padding: 10px 38px;
}
.description a {
    text-decoration: none;
    float: right;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 24px;
    background-color: rgb(33, 174, 255);
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    #header {
        display: flex;
        justify-content: center;
    }
    #nav {
        flex-direction: column;
    }
    #nav a {
        flex: 1;
    }
    #hero {
        height: 40vh;
        margin-top: 20px;
    }
    .hero-content {
        position: absolute;
        margin-right: 10px;
        margin-top: 0px;
    }
    .hero-content h4 {
        font-size: 18px;
    }
    .hero-content a {
        font-weight: 100;
        font-size: 14px;
        padding: 10px;
        margin: 250px 20px 0px 0px;
    }
    .single-column {
        width: 50%;
        min-width: 500px;
        margin: 10px auto;
        padding: 2px 24px;
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
