* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#two-column {
    display: flex;
}
#sidebar {
    width: 250px;
    padding: 24px;
    background-color: rgb(255, 213, 135);
    ul {
        list-style: none;
        padding: 0px;
    }
    ul a {
        color: black;
        text-decoration: none;
    }
    ul li {
        padding: 4px 0px;
    }
    h2 {
        background-color: orange;
        text-align: center;
        padding: 10px;
    }
}
#main {
    flex: 1;
    padding: 48px;
    h1 {
        color: orange;
        font-style: italic;
        font-size: 50px;
    }
}
#container-1 {
    display: flex;
}
#container-2 {
    display: flex;
}
img {
    width: 300px;
    padding-left: 24px;
}