* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    width: 50%;
    max-width: 1440px;
    margin: 0px auto;
}
.light-container {
    background-color: lightblue;
    padding: 48px 0px;
}
.dark-container {
    background-color: darkblue;
    color: white;
    padding: 48px 0px;
}