/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');

img {
    width: 100%;
    object-fit: cover;
}
#frame-1 {
    border: 8px inset rgb(138, 57, 33);
    margin: 100px 12px 0px;
    box-shadow: -2px 2px 2px #444;
}
#frame-1 div {
    background-color: antiquewhite;
    padding: 8px;
    box-shadow: inset -1px 1px 1px #444;
}
#frame-1 img {
    width: 100px;
    display: block;
}

#frame-3 {
    border: 8px inset rgb(212, 170, 33);
    margin: 100px 12px 0px;
    box-shadow: -2px 2px 2px #444;
}

#frame-3 div {
    background-color: antiquewhite;
    padding: 8px;
    box-shadow: inset -1px 1px 1px #444;
}
#frame-3 img {
    width: 100px;
    display: block;
}

#frame-2 {
    border: 4px inset rgb(70, 53, 31);
    margin: 50px 10px 0px;
    box-shadow: -2px 2px 2px #444;
}
#frame-2 div {
    background-image:
    linear-gradient(rgb(185, 162, 132),
    antiquewhite, rgb(185, 162, 132));
    box-shadow: inset -1px 1px 1px #444;
    padding: 10px;
}
p {
    font-family: "Freckle Face", serif;
    font-weight: 400;
    font-style: normal;
    font-size: small;
}
